.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 10px 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-title small {
  font-size: 0.7em;
  font-weight: 400;
}

.initial {
  font-size: large;
  text-align: center;
  width: 100%;
}

.initial table {
  margin: 20px auto;
}

.puzzle-input {
  font-size: 1.2em;
  width: 2em;
}

.calculate-button {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1.5em;
  padding: 7px 20px;
}

.solution {
  margin: 40px 40px 0;
}
